{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.{js,mjs,cjs}",
      "options": { "tabWidth": 4 }
    }
  ]
}
